# Exploring and Transforming JSON Schemas

# Introduction

In this lesson, you'll formalize how to explore a JSON file whose structure and schema is unknown to you. This often happens in practice when you are handed a file or stumble upon one with little documentation.

## Objectives
You will be able to:
* Explore unknown JSON schemas
* Access and manipulate data inside a JSON file
* Convert JSON to alternative data formats

## Loading the JSON file

Load the data from the file disease_data.json.

In [1]:
#Your code here 
import json
f = open('disease_data.json')
data = json.load(f)

## Explore the first and second levels of the schema hierarchy

In [8]:
#Your code here
type(data)
type(data['data'])

dict

## Convert to a DataFrame

Create a DataFrame from the JSON file. Be sure to retrive the column names for the dataframe. (Search within the 'meta' key of the master dictionary.) The DataFrame should include all 42 columns.

In [17]:
import pandas as pd
df = pd.DataFrame(data['data'])
cols = data['meta']['view'].keys()
cols = [i['name'] for i in data['meta']['view']['columns']]
df.columns = cols

In [42]:
df.columns

Index(['sid', 'id', 'position', 'created_at', 'created_meta', 'updated_at',
       'updated_meta', 'meta', 'YearStart', 'YearEnd', 'LocationAbbr',
       'LocationDesc', 'DataSource', 'Topic', 'Question', 'Response',
       'DataValueUnit', 'DataValueType', 'DataValue', 'DataValueAlt',
       'DataValueFootnoteSymbol', 'DatavalueFootnote', 'LowConfidenceLimit',
       'HighConfidenceLimit', 'StratificationCategory1', 'Stratification1',
       'StratificationCategory2', 'Stratification2', 'StratificationCategory3',
       'Stratification3', 'GeoLocation', 'ResponseID', 'LocationID', 'TopicID',
       'QuestionID', 'DataValueTypeID', 'StratificationCategoryID1',
       'StratificationID1', 'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [67]:
df[df.Question == 'Current asthma prevalence among adults aged >= 18 years'].groupby('LocationAbbr').

                 sid  position   created_at   updated_at
LocationAbbr
AK            156297    156297  24435112368  24435112368
AL            156280    156280  24435112368  24435112368
AR            156329    156329  24435112368  24435112368
AZ            156313    156313  24435112368  24435112368
CA            156345    156345  24435112368  24435112368
CO            156361    156361  24435112368  24435112368
CT            156377    156377  24435112368  24435112368
DC            156409    156409  24435112368  24435112368
DE            156393    156393  24435112368  24435112368
FL            154974    154974  24435112368  24435112368
GA            156440    156440  24435112368  24435112368
GU            155638    155638  24435112368  24435112368
HI            156103    156103  24435112368  24435112368
IA            152659    152659  24435112367  24435112367
ID            156198    156198  24435112368  24435112368
IL            151722    151722  24435112367  24435112367
IN            152541    152541  24435112367  24435112367
KS            153819    153819  24435112367  24435112367
KY            154091    154091  24435112367  24435112367
LA            154408    154408  24435112368  24435112368
MA            156606    156606  24435112368  24435112368
MD            154600    154600  24435112368  24435112368
ME            154514    154514  24435112368  24435112368
MI            156622    156622  24435112368  24435112368
MN            156638    156638  24435112368  24435112368
MO            156670    156670  24435112368  24435112368
MS            156654    156654  24435112368  24435112368
MT            156687    156687  24435112368  24435112368
NC            156799    156799  24435112368  24435112368
ND            156815    156815  24435112368  24435112368
NE            156703    156703  24435112368  24435112368
NH            156735    156735  24435112368  24435112368
NJ            156751    156751  24435112368  24435112368
NM            156767    156767  24435112368  24435112368
NV            156719    156719  24435112368  24435112368
NY            156783    156783  24435112368  24435112368
OH            156831    156831  24435112368  24435112368
OK            156847    156847  24435112368  24435112368
OR            156863    156863  24435112368  24435112368
PA            156879    156879  24435112368  24435112368
PR            157101    157101  24435112368  24435112368
RI            156895    156895  24435112368  24435112368
SC            156911    156911  24435112368  24435112368
SD            156927    156927  24435112368  24435112368
TN            156943    156943  24435112368  24435112368
TX            156959    156959  24435112368  24435112368
US             56996     56996   9163167138   9163167138
UT            156975    156975  24435112368  24435112368
VA            155606    155606  24435112368  24435112368
VI            157117    157117  24435112368  24435112368
VT            155443    155443  24435112368  24435112368
WA            157021    157021  24435112368  24435112368
WI            157054    157054  24435112368  24435112368
WV            157037    157037  24435112368  24435112368
WY            157070    157070  24435112368  24435112368

## Level-Up
## Create a bar graph of states with the highest asthma rates for adults age 18+

## Level-Up!
## Create a function (or class) that returns an outline of the schema structure like this: 
<img src="images/outline.jpg" width="350">

Rules:
* Your outline should follow the numbering outline above (I, A, 1, a, i).
* Your outline should be properly indented! (Four spaces or one tab per indentation level.)
* Your function goes to at least a depth of 5 (Level-up: create a parameter so that the user can specify this)
* If an entry is a dictionary, list its keys as the subheadings
* After listing a key name (where applicable) include a space, a dash and the data type of the entry
* If an entry is a dict or list put in parentheses how many items are in the entry
* lists will not have key names for their entries (they're just indexed)
* For subheadings of a list, state their datatypes. 
* If a dictionary or list is more then 5 items long, only show the first 5 (we want to limit our previews); make an arbitrary order choice for dictionaries. (Level-up: Parallel to above; allow user to specify number of items to preview for large subheading collections.)

In [ ]:
# Your code here; you will probably want to define subfunctions.
def print_obj_outline(json_obj):
    return outline

In [22]:
outline = print_obj_outline(data)

In [23]:
print(outline) #Your function should produce the following output for this json object (and work for all json files!)

I. root - <class 'dict'> (2 items)
    A. meta <class 'dict'> (1 items)
        1. view <class 'dict'> (40 items)
            a. id <class 'str'>
            b. name <class 'str'>
            c. attribution <class 'str'>
            d. attributionLink <class 'str'>
            e. averageRating <class 'int'>
    B. data <class 'list'> (60266 items)
        1. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        2. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        3. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        4. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        5. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>

## Summary

Well done! In this lab you got some extended practice exploring the structure of JSON files and writing a recursive generalized function for outlining a JSON file's schema!