# Exploring and Transforming JSON Schemas

# Introduction

In this lesson, you'll formalize how to explore a JSON file whose structure and schema is unknown to you. This often happens in practice when you are handed a file or stumble upon one with little documentation.

## Objectives
You will be able to:
* Explore unknown JSON schemas
* Access and manipulate data inside a JSON file
* Convert JSON to alternative data formats

## Loading the JSON file

Load the data from the file disease_data.json.

In [1]:
#Your code here 
import json
f = open('disease_data.json')
data = json.load(f)

## Explore the first and second levels of the schema hierarchy

In [8]:
#Your code here
type(data)
type(data['data'])

dict

## Convert to a DataFrame

Create a DataFrame from the JSON file. Be sure to retrive the column names for the dataframe. (Search within the 'meta' key of the master dictionary.) The DataFrame should include all 42 columns.

In [17]:
import pandas as pd
df = pd.DataFrame(data['data'])
cols = data['meta']['view'].keys()
cols = [i['name'] for i in data['meta']['view']['columns']]
df.columns = cols

In [42]:
df.columns

Index(['sid', 'id', 'position', 'created_at', 'created_meta', 'updated_at',
       'updated_meta', 'meta', 'YearStart', 'YearEnd', 'LocationAbbr',
       'LocationDesc', 'DataSource', 'Topic', 'Question', 'Response',
       'DataValueUnit', 'DataValueType', 'DataValue', 'DataValueAlt',
       'DataValueFootnoteSymbol', 'DatavalueFootnote', 'LowConfidenceLimit',
       'HighConfidenceLimit', 'StratificationCategory1', 'Stratification1',
       'StratificationCategory2', 'Stratification2', 'StratificationCategory3',
       'Stratification3', 'GeoLocation', 'ResponseID', 'LocationID', 'TopicID',
       'QuestionID', 'DataValueTypeID', 'StratificationCategoryID1',
       'StratificationID1', 'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [74]:
list(df[df.Question == 'Current asthma prevalence among adults aged >= 18 years']\
.groupby('LocationAbbr').DataValue)

[('AK', 9372      8.8
  9427        9
  9482      5.7
  9526      5.8
  9581     12.1
  9635     12.5
  9688      8.7
  9742      8.7
  9797     None
  9851     None
  9905     None
  9959     None
  10013    10.3
  10067    10.8
  10121    None
  10176    None
  Name: DataValue, dtype: object), ('AL', 9371      9.7
  9426      9.8
  9481      6.8
  9525      6.7
  9580     12.4
  9634     12.6
  9687      9.1
  9741      9.4
  9795     11.4
  9850       11
  9904     None
  9958     None
  10012    None
  10066    10.4
  10120      16
  10175    18.5
  Name: DataValue, dtype: object), ('AR', 9374      8.5
  9429      8.5
  9484      5.2
  9528      5.1
  9583     11.7
  9637     11.8
  9690      8.8
  9744      8.7
  9799        9
  9853      8.8
  9907     None
  9961     None
  10015    None
  10069    None
  10123    None
  10178    None
  Name: DataValue, dtype: object), ('AZ', 9373      9.4
  9428      9.3
  9483        7
  9527        7
  9582     11.6
  9636     11.5
  9689     10.3
  9743     10.4
  9798        9
  9852      9.4
  9906      6.7
  9960      7.2
  10014    10.3
  10068    10.5
  10122    None
  10177    13.8
  Name: DataValue, dtype: object), ('CA', 9375      7.8
  9430      7.7
  9485      5.4
  9529      5.4
  9584     10.1
  9638      9.9
  9691      9.9
  9745      9.8
  9800     10.9
  9854     11.1
  9908        6
  9962        6
  10016     5.2
  10070     5.1
  10124     9.4
  10179    10.4
  Name: DataValue, dtype: object), ('CO', 9376      8.8
  9431      8.8
  9486      6.3
  9530      6.4
  9585     11.2
  9639     11.3
  9692      9.1
  9746      9.2
  9801      9.3
  9855      9.2
  9909        7
  9963      6.9
  10017     7.6
  10071       8
  10125    19.5
  10180    17.7
  Name: DataValue, dtype: object), ('CT', 9377     10.5
  9432     10.6
  9487      7.5
  9531      7.6
  9586     13.3
  9640     13.6
  9693      9.6
  9747      9.9
  9802     13.5
  9856     13.2
  9910     13.7
  9964     14.2
  10018     6.5
  10072     6.9
  10126    None
  10181    12.7
  Name: DataValue, dtype: object), ('DC', 9379      9.8
  9434     10.1
  9489      6.3
  9533      6.4
  9588     12.9
  9642     13.4
  9695        6
  9749        6
  9804     13.1
  9858     13.4
  9912     13.1
  9966     13.1
  10020    None
  10074    None
  10128    None
  10183    None
  Name: DataValue, dtype: object), ('DE', 9378      8.5
  9433      8.7
  9488      5.9
  9532      6.1
  9587     10.9
  9641     11.2
  9694      7.5
  9748      7.6
  9803     10.9
  9857     11.4
  9911      7.6
  9965      7.8
  10019    None
  10073    None
  10127    None
  10182    None
  Name: DataValue, dtype: object), ('FL', 8135      8.2
  9380      6.7
  9435      6.7
  9490      5.2
  9534      5.2
  9643      8.2
  9696      6.9
  9750      7.1
  9805      7.7
  9859      7.6
  9913      5.9
  9967      5.9
  10021    None
  10075    None
  10129    None
  10184    11.3
  Name: DataValue, dtype: object), ('GA', 9381      8.5
  9436      8.5
  9491      5.1
  9535      5.1
  9589     11.7
  9644     11.8
  9697      9.1
  9751      9.2
  9806      9.5
  9860      9.3
  9914     None
  9968     None
  10022    None
  10076    None
  10130    None
  10185    None
  Name: DataValue, dtype: object), ('GU', 8234      7.5
  9422      5.1
  9477      5.6
  9521      3.1
  9576      3.7
  9630      7.2
  9738     None
  9792     None
  9847     None
  9901     None
  9955     None
  10009    None
  10063     6.5
  10117     6.8
  10172    None
  10227    None
  Name: DataValue, dtype: object), ('HI', 9138      7.5
  9382     10.7
  9437     10.7
  9536      7.4
  9590     13.9
  9645     14.2
  9698        7
  9752      6.3
  9807     None
  9861     None
  9915     18.8
  9969     17.6
  10023       8
  10077       8
  10131    16.6
  10186    16.5
  Name: DataValue, dtype: object), ('IA', 5632      5.6
  9386      7.8
  9441      7.8
  9540      5.6
  9594      9.9
  9649     10.2
  9702      7.7
  9756      7.8
  9811     10.7
  9865     11.7
  9919     None
  9973     None
  10027    None
  10081    None
  10135    None
  10190    None
  Name: DataValue, dtype: object), ('ID', 9218      6.9
  9383      9.3
  9438      9.2
  9537        7
  9591     11.6
  9646     11.4
  9699      9.4
  9753      9.5
  9808     None
  9862     None
  9916      7.8
  9970     None
  10024     7.1
  10078     8.3
  10132    None
  10187    None
  Name: DataValue, dtype: object), ('IL', 4725      6.5
  9384      8.9
  9439      8.8
  9538      6.5
  9592     11.1
  9647       11
  9700      8.8
  9754      8.9
  9809     12.3
  9863     12.4
  9917      5.5
  9971      5.6
  10025    None
  10079    None
  10133    27.5
  10188    22.6
  Name: DataValue, dtype: object), ('IN', 5529      6.7
  9385     10.2
  9440     10.1
  9539      6.5
  9593     13.4
  9648     13.6
  9701      9.8
  9755      9.8
  9810     15.9
  9864     15.3
  9918      6.3
  9972      5.8
  10026     6.4
  10080     7.6
  10134    18.7
  10189    17.2
  Name: DataValue, dtype: object), ('KS', 6777      6.1
  9387      8.8
  9442      8.6
  9541      5.9
  9595     11.5
  9650     11.4
  9703      8.8
  9757      8.7
  9812     12.4
  9866     12.1
  9920      5.6
  9974      5.9
  10028     8.5
  10082     9.7
  10136    15.1
  10191    15.4
  Name: DataValue, dtype: object), ('KY', 7034      6.9
  9388     11.6
  9443     11.5
  9542      6.6
  9596       16
  9651     16.3
  9704     11.4
  9758     11.2
  9813       13
  9867     12.8
  9921     None
  9975     None
  10029     9.8
  10083    12.6
  10137    23.1
  10192    22.6
  Name: DataValue, dtype: object), ('LA', 7337      5.4
  9389      8.3
  9444      8.4
  9543      5.4
  9597     11.1
  9652     11.2
  9705      6.6
  9759      6.4
  9814     12.5
  9868     12.5
  9922     None
  9976     None
  10030    None
  10084    None
  10138    None
  10193    None
  Name: DataValue, dtype: object), ('MA', 9392     10.3
  9447     10.3
  9492      6.3
  9546      6.3
  9600     13.9
  9655     14.1
  9708       10
  9762     10.1
  9817     15.7
  9871     16.1
  9925     11.2
  9979     11.4
  10033     8.1
  10087     8.3
  10141    None
  10196     9.6
  Name: DataValue, dtype: object), ('MD', 7499      7.2
  9391      9.4
  9446      9.5
  9545      7.2
  9599     11.5
  9654     11.6
  9707      9.4
  9761      9.5
  9816       12
  9870     12.2
  9924      4.8
  9978      5.9
  10032     5.9
  10086       6
  10140    12.9
  10195    13.2
  Name: DataValue, dtype: object), ('ME', 7428      9.4
  9390     12.2
  9445     12.7
  9544      9.6
  9598     14.8
  9653     15.6
  9706     11.8
  9760     12.4
  9815     None
  9869     None
  9923     None
  9977     None
  10031    18.7
  10085    19.6
  10139    28.9
  10194    25.8
  Name: DataValue, dtype: object), ('MI', 9393     10.9
  9448     11.1
  9493      8.3
  9547      8.4
  9601     13.4
  9656     13.6
  9709     10.7
  9763     10.9
  9818     14.5
  9872     14.6
  9926      6.6
  9980        6
  10034     6.2
  10088       7
  10142      18
  10197    17.7
  Name: DataValue, dtype: object), ('MN', 9394      7.6
  9449      7.7
  9494      5.3
  9548      5.3
  9602      9.8
  9657       10
  9710      7.5
  9764      7.7
  9819      9.6
  9873     10.5
  9927      5.5
  9981      6.3
  10035     6.6
  10089     7.8
  10143    20.1
  10198    21.7
  Name: DataValue, dtype: object), ('MO', 9396      9.9
  9451      9.8
  9496        7
  9550      6.9
  9604     12.5
  9659     12.6
  9712      9.4
  9766      9.4
  9821     13.7
  9875     13.4
  9929     None
  9983     12.2
  10037    None
  10091     7.7
  10145    10.3
  10200    10.1
  Name: DataValue, dtype: object), ('MS', 9395        8
  9450      7.9
  9495      5.3
  9549      5.1
  9603     10.4
  9658     10.5
  9711      7.4
  9765      7.2
  9820      8.8
  9874      8.7
  9928     None
  9982     None
  10036    None
  10090    None
  10144    None
  10199    None
  Name: DataValue, dtype: object), ('MT', 9397      8.5
  9452      8.4
  9497      6.6
  9551      6.5
  9605     10.5
  9660     10.4
  9713      8.4
  9767      8.3
  9822     None
  9876     None
  9930     None
  9984     None
  10038    12.4
  10092    14.3
  10147    None
  10201    None
  Name: DataValue, dtype: object), ('NC', 9404        8
  9459      8.1
  9504      5.3
  9558      5.2
  9612     10.6
  9667     10.7
  9720      7.8
  9774      7.9
  9829      9.3
  9883      9.3
  9937      4.5
  9991     None
  10045     9.2
  10099      11
  10154    None
  10208    None
  Name: DataValue, dtype: object), ('ND', 9405        9
  9460      9.1
  9505      7.4
  9559      7.5
  9613     10.7
  9668     10.8
  9721      8.6
  9775      8.8
  9830     None
  9884     None
  9938     None
  9992     15.1
  10046     9.8
  10100    11.3
  10155    24.3
  10209    24.9
  Name: DataValue, dtype: object), ('NE', 9398      8.3
  9453      8.2
  9498      6.1
  9552        6
  9606     10.4
  9661     10.4
  9714      8.1
  9768      8.1
  9823     16.7
  9877     16.1
  9931      4.2
  9985      4.4
  10039     7.8
  10093     9.2
  10148    16.3
  10202    20.1
  Name: DataValue, dtype: object), ('NH', 9400     11.4
  9455       12
  9500      6.8
  9554      6.9
  9608     15.8
  9663       17
  9716     11.3
  9770     11.9
  9825     None
  9879     None
  9933     None
  9987     None
  10041    None
  10095     6.9
  10150    None
  10204    None
  Name: DataValue, dtype: object), ('NJ', 9401      8.2
  9456      8.2
  9501      6.1
  9555        6
  9609     10.2
  9664     10.3
  9717      7.4
  9771      7.7
  9826     11.3
  9880     11.5
  9934     10.1
  9988     10.3
  10042     6.2
  10096     6.6
  10151    None
  10205    None
  Name: DataValue, dtype: object), ('NM', 9402     11.8
  9457     11.9
  9502        9
  9556      9.1
  9610     14.4
  9665     14.6
  9718     11.4
  9772     11.9
  9827     None
  9881     None
  9935     12.5
  9989     12.2
  10043     8.2
  10097     8.8
  10152    None
  10206    None
  Name: DataValue, dtype: object), ('NV', 9399      7.9
  9454      7.9
  9499      4.9
  9553      4.9
  9607     10.9
  9662     10.9
  9715      8.4
  9769      8.5
  9824     12.1
  9878     11.9
  9932      5.3
  9986      5.4
  10040    None
  10094    None
  10149    None
  10203      18
  Name: DataValue, dtype: object), ('NY', 9403      9.5
  9458      9.5
  9503      7.3
  9557      7.3
  9611     11.5
  9666     11.5
  9719      9.4
  9773      9.7
  9828     10.9
  9882     10.9
  9936      9.9
  9990     10.5
  10044     6.1
  10098     6.4
  10153    15.4
  10207    15.2
  Name: DataValue, dtype: object), ('OH', 9406      9.7
  9461      9.7
  9506        8
  9560        8
  9614     11.3
  9669     11.2
  9722        9
  9776      9.1
  9831     12.7
  9885     12.5
  9939     21.1
  9993     19.7
  10047    None
  10101    None
  10156    17.9
  10210    18.3
  Name: DataValue, dtype: object), ('OK', 9407       10
  9462       10
  9507      7.7
  9561      7.7
  9615     12.2
  9670     12.3
  9723      9.6
  9777      9.8
  9832     14.4
  9886     14.3
  9940     None
  9994      5.2
  10048    10.9
  10102    11.9
  10157    12.9
  10211    12.8
  Name: DataValue, dtype: object), ('OR', 9408     10.5
  9463     10.6
  9508      7.7
  9562      7.8
  9616     13.2
  9671     13.3
  9724     10.5
  9778     10.7
  9833     None
  9887     None
  9941      9.4
  9995      8.8
  10049    10.2
  10103    10.3
  10158    15.2
  10212    14.5
  Name: DataValue, dtype: object), ('PA', 9409     10.6
  9464     10.7
  9509      6.9
  9563        7
  9617       14
  9672     14.3
  9725      9.3
  9779      9.4
  9834       17
  9888       17
  9942     18.5
  9996     19.1
  10050     8.1
  10104     8.8
  10159    None
  10213    None
  Name: DataValue, dtype: object), ('PR', 9423     10.7
  9478     10.7
  9522      8.9
  9577      8.9
  9631     12.3
  9685     12.2
  9739     None
  9793     None
  9848     None
  9902     None
  9956     10.6
  10010    10.6
  10064    None
  10118    None
  10173    None
  10228    None
  Name: DataValue, dtype: object), ('RI', 9410     10.7
  9465     10.5
  9510      7.2
  9564        7
  9618     13.9
  9673     13.7
  9726     10.8
  9780     10.7
  9835     None
  9889      7.1
  9943     11.7
  9997     13.5
  10051    None
  10105    None
  10160    None
  10214    None
  Name: DataValue, dtype: object), ('SC', 9411      8.8
  9466      8.8
  9511      6.4
  9565      6.3
  9619     11.1
  9674       11
  9727      8.6
  9781      8.7
  9836      9.9
  9890      9.8
  9944     None
  9998     None
  10052     4.9
  10106     5.6
  10161      17
  10215    16.6
  Name: DataValue, dtype: object), ('SD', 9412      6.2
  9467        6
  9512      5.1
  9566      4.9
  9620      7.2
  9675        7
  9728      5.8
  9782      5.6
  9837     None
  9891     None
  9945     None
  9999     None
  10053     9.1
  10107     9.6
  10162    None
  10216    None
  Name: DataValue, dtype: object), ('TN', 9413     10.9
  9468       11
  9513      7.2
  9567      7.3
  9621     14.3
  9676     14.5
  9729     10.6
  9783     10.5
  9838     11.8
  9892     11.6
  9946     None
  10000    None
  10054    None
  10108    None
  10163    None
  10217    None
  Name: DataValue, dtype: object), ('TX', 9414      7.6
  9469      7.6
  9514      5.1
  9568      5.1
  9622     10.1
  9677       10
  9730      9.2
  9784      9.1
  9839     11.2
  9893     11.1
  9947      4.7
  10001     4.7
  10055    None
  10109    None
  10164    None
  10218    None
  Name: DataValue, dtype: object), ('US', 9370     9.3
  9425     9.2
  9480     6.6
  9524     6.5
  9579    11.6
  9633    11.6
  Name: DataValue, dtype: object), ('UT', 9415      8.2
  9470      8.2
  9515      6.4
  9569      6.3
  9623     10.1
  9678     10.1
  9731      8.7
  9785      8.6
  9840     None
  9894     None
  9948      5.5
  10002     6.2
  10056       5
  10110     5.5
  10165    14.1
  10219    13.8
  Name: DataValue, dtype: object), ('VA', 8114      5.3
  9417      8.6
  9472      8.5
  9571      5.4
  9625     11.6
  9680     11.6
  9733      8.4
  9787      8.4
  9842     11.4
  9896     11.6
  9950      6.5
  10004     7.7
  10058    None
  10112    None
  10167    None
  10221     9.1
  Name: DataValue, dtype: object), ('VI', 9424      6.3
  9479      6.6
  9523     None
  9578     None
  9632      8.3
  9686      8.6
  9740     None
  9794     None
  9849      4.6
  9903      4.7
  9957     None
  10011    None
  10065    None
  10119    None
  10174    None
  10229    None
  Name: DataValue, dtype: object), ('VT', 7966      7.2
  9416     10.2
  9471     10.4
  9570      7.1
  9624       13
  9679     13.6
  9732     10.2
  9786     10.4
  9841     None
  9895     None
  9949     None
  10003    None
  10057    None
  10111     7.9
  10166    None
  10220    13.9
  Name: DataValue, dtype: object), ('WA', 9418      9.6
  9473      9.6
  9517      6.6
  9572      6.6
  9626     12.5
  9681     12.6
  9734      9.9
  9788       10
  9843     15.5
  9897     15.2
  9951      7.8
  10005       8
  10059     6.7
  10113     6.8
  10168      15
  10222    15.3
  Name: DataValue, dtype: object), ('WI', 9420      8.5
  9475      8.4
  9519      6.6
  9574      6.5
  9628     10.3
  9683     10.3
  9736      8.3
  9790      8.3
  9845     10.7
  9899     11.3
  9953     None
  10007    None
  10061    None
  10115     8.2
  10170    None
  10225    None
  Name: DataValue, dtype: object), ('WV', 9419     11.8
  9474     11.8
  9518      8.6
  9573      8.6
  9627     14.8
  9682     14.9
  9735     11.6
  9789     11.6
  9844     16.3
  9898       17
  9952     None
  10006    None
  10060    None
  10114    None
  10169    13.3
  10223    13.1
  Name: DataValue, dtype: object), ('WY', 9421      9.5
  9476      9.6
  9520      6.6
  9575      6.4
  9629     12.6
  9684     13.1
  9737      8.6
  9791      8.8
  9846     None
  9900     None
  9954     11.9
  10008    10.6
  10062    None
  10116    17.8
  10171    None
  10226    None
  Name: DataValue, dtype: object)]

## Level-Up
## Create a bar graph of states with the highest asthma rates for adults age 18+

## Level-Up!
## Create a function (or class) that returns an outline of the schema structure like this: 
<img src="images/outline.jpg" width="350">

Rules:
* Your outline should follow the numbering outline above (I, A, 1, a, i).
* Your outline should be properly indented! (Four spaces or one tab per indentation level.)
* Your function goes to at least a depth of 5 (Level-up: create a parameter so that the user can specify this)
* If an entry is a dictionary, list its keys as the subheadings
* After listing a key name (where applicable) include a space, a dash and the data type of the entry
* If an entry is a dict or list put in parentheses how many items are in the entry
* lists will not have key names for their entries (they're just indexed)
* For subheadings of a list, state their datatypes. 
* If a dictionary or list is more then 5 items long, only show the first 5 (we want to limit our previews); make an arbitrary order choice for dictionaries. (Level-up: Parallel to above; allow user to specify number of items to preview for large subheading collections.)

In [ ]:
# Your code here; you will probably want to define subfunctions.
def print_obj_outline(json_obj):
    return outline

In [22]:
outline = print_obj_outline(data)

In [23]:
print(outline) #Your function should produce the following output for this json object (and work for all json files!)

I. root - <class 'dict'> (2 items)
    A. meta <class 'dict'> (1 items)
        1. view <class 'dict'> (40 items)
            a. id <class 'str'>
            b. name <class 'str'>
            c. attribution <class 'str'>
            d. attributionLink <class 'str'>
            e. averageRating <class 'int'>
    B. data <class 'list'> (60266 items)
        1. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        2. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        3. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        4. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>
        5. <class 'list'> (42 items)
            a. <class 'int'>
            b. <class 'str'>
            c. <class 'int'>
            d. <class 'int'>
            e. <class 'str'>

## Summary

Well done! In this lab you got some extended practice exploring the structure of JSON files and writing a recursive generalized function for outlining a JSON file's schema!